<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/Library/RamDisk</string>	
		<string>RAM Disk</string>
		<string>1</string>
	</array>
	<key>Label</key>
	<string>com.ramdisk</string>
    <key>KeepAlive</key>
    <false/>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
